:root {
     --white: #fff;
     --black: #000;
     --colourmn1: #dddddd;
     --colourmn2: #333333;
}

* {
     box-sizing: border-box;
     scroll-behavior: smooth;
     margin: 0;
     padding: 0;
}

body {
     color: var(--colourmn2);
     background-color: var(--white);
}

.bg {
     display: none;
}

::-webkit-scrollbar-thumb {
     background: var(--colourmn2);
}

::-webkit-scrollbar-thumb:hover {
     background: var(--colourmn2);
}

body {
     font-family: "Roboto", sans-serif;
     font-size: 1em;
     padding: 3em;
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* --> Scroll Bar */

::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background: transparent;
}

::-webkit-scrollbar-thumb {
     margin: 2px 0;
     border-radius: 2.5px;
}

/* --> SIGN-UP AND SIGN-IN PAGE <-- */

.sign-wrapper {
     border-radius: 20px;
     width: 60%;
     height: 80%;
     margin: 3em;
     display: flex;
     flex-direction: row-reverse;
}

header.sign {
     width: 50%;
     height: 100%;
     border-radius: 0 20px 20px 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

img.logo {
     width: 5em;
}

p.logo-sign {
     font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
     font-size: 2em;
     margin-top: 0.5em;
}

main.sign {
     width: 50%;
     padding: 2em;
     display: flex;
     flex-direction: column;
     align-items: center;
}

h3.register-title {
     font-size: 2em;
     font-weight: 200;
     font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
     padding-bottom: 0.5em;
}

div.error-txt {
     width: 100%;
     margin-bottom: 0.5em;
     color: #721c24;
     background: #f8d7da;
     padding: 1em;
     text-align: center;
     display: none;
}

form.sign {
     width: 90%;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
}

.sign-input,
.sign-submit {
     width: 100%;
     font-size: 1em;
     padding: 0 0.5em;
     height: 50px;
     border-radius: 5px;
     margin: 0.25em 0;
     border: none;
     outline: none;
}

.sign-input {
     border-bottom-width: 3px;
     transition: all 0.3s ease;
}

div.pass {
     display: flex;
     align-items: center;
     position: relative;
}

div.pass i {
     position: absolute;
     right: 1em;
     z-index: 3;
}

div.pass i.active::before {
     content: "\f070";
}

.sign-submit {
     margin: 1.1em 0;
     transition: all 0.3s ease;
}

small.sign-link {
     margin-top: 0.1em;
}

small.sign-link a {
     text-decoration: none;
}

small.sign-link a:hover {
     text-decoration: underline;
}

.sign-wrapper {
     background-color: var(--white);
     box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}

header.sign {
     background: var(--colourmn2);
}

p.logo-sign {
     color: var(--white);
}

.sign-input {
     border: 1px solid #e6e6e6;
}

input.sign-input:active,
.sign-input:focus {
     border-color: #cccccc;
}

div.pass i {
     color: #e6e6e6;
}

div.pass i.active::before {
     color: #333;
}

.sign-submit {
     background: var(--colourmn2);
     color: var(--white);
     border: 1px solid var(--colourmn2);
}

.sign-submit:hover {
     background-color: var(--white);
     color: var(--colourmn2);
     border: 1px solid var(--colourmn2);
}

small.sign-link a {
     color: var(--colour6);
}

small.sign-link a:hover {
     color: var(--colour5);
}

/* --> THE DASHBOARD <-- */
.dashboard-wrapper {
     display: grid;
     gap: 1em;
     grid-template-columns: 25% 75%;
     grid-template-rows: 35% 65%;
}

.quick-todos,
header.dashboard,
main.dashboard {
     background-color: var(--white);
}

header.dashboard {
     color: var(--colourmn1);
     background-image: linear-gradient(270deg,
               var(--colour6),
               var(--colour5),
               var(--colourmn1));
}

button.sign-out {
     background-color: var(--colourmn1);
     color: var(--colour6);
     border: solid 1px var(--colour6);
}